* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', Courier, monospace;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  justify-content: space-between;
}

.navbar-logo img {
  width: 4rem;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
}

.navbar-nav a {
  font-size: 1rem;
  color: black;
  margin-right: 2rem;
}

.navbar-nav a:hover {
  color: rgb(118, 118, 118);
  transition: 0.4s;
}

.navbar-nav a::after {
  content: '';
  display: block;
  border-bottom: 1.4px solid rgb(118, 118, 118);
  transform: scaleX(0);
  transition: 0.4s;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.4);
}

.navbar-close a {
  margin-left: 3rem;
  color: black;
  font-size: 1rem;
  position: relative;
  display: inline-block;
}

.navbar-close a:hover {
  color: rgb(118, 118, 118);
  transition: 0.4s;
}

.navbar-close a::after {
  content: '';
  display: block;
  border-bottom: 0.1rem solid rgb(118, 118, 118);
  transform: scaleX(0);
  width: 100%;
  transition: 0.3s;
}

.navbar-close a:hover::after {
  transform: scaleX(0.3);
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 10px;
  }

  .navbar-nav.active {
    display: flex; /* muncul saat toggle diklik */
  }

  .navbar-close {
    margin-left: auto;
  }

  .navbar-close a {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .navbar-logo img {
    margin-right: auto;
  }
}
